@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 
:root{
--lg-font: 'Open Sans', sans-serif;
--sm-font: 'Roboto', sans-serif;
--color : #214ED3 ;
}

body{
    font-family: var(--sm-font);
}


.navbar{
    box-shadow:0px 3px 9px rgba(0, 0, 0, 0.1) !important;
}
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05) ;
}
/* header */
#header{
    background: url(../img/online-shopping-ecommerce-ss-1920.png) top/cover no-repeat;
}
.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}

.carousel-item .btn{
    border-color: #fff !important;
}

.carousel-item .btn:hover{
    border-color: var(--color) !important;
}
/* ******* */



.btn:not(.nav-btns button){
    background-color: #fff;
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgba(85, 85, 85);

}
.btn:not(.nav-btns button):hover{
    background-color: var(--color);
    color: #fff;
    border: #214ED3;
    
}

/* style collection */
/* title collection */
.title h2::before{
    position: absolute ;
    content: "";
    width: 6px;
    height: 50px;
    background-color: var(--color);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}
/* btns collection */
.active-filter-btn{
    background-color: var(--color) !important;
    color: #fff !important;
    border-color: var(--color) !important;
}
.card-item{
    box-shadow:0px 3px 9px rgba(0, 0, 0, 0.1) !important;
}

/* offers */
#offers{
    background: url(../img/offers/carousel-2.jpg) center/cover no-repeat;
}
#offers .row{
    min-height: 60vh;
}
.offers-content span{
    font-size: 28px;
}
.offers-content h2{
    font-size: 60px;
    font-family: var(--lg-font);
}
.offers-content .btn{
    border-color: transparent !important;
}
/* ****** */





/* Style contact Us */
.form-area{
    padding-top: 7%;
}
.row.single-form{
    box-shadow : 0 2px 20px -5px rgba(0, 0, 0, 0.5);
}
.left {
    background: var(--color) ;
    padding: 200px 98px;
}
.left h2{
    font-family: poppins;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
}

.right{
    padding: 60px 100px;
    position: relative;
}
.right i{
    position: absolute;
    font-size: 80px;
    left: -27px;
    top: 40%;
    color: #fff;
}

/* .form-control{
    border: 2px solid black ;
} */


/*responsive*/

@media (min-width:768px) and (max-width:991px){
    .right i {
	top: -52px;
	transform: rotate(90deg);
	left: 50%;
}
}

@media (max-width:767px){
    .left {
  padding: 90px 15px;
  text-align: center;
}
.left h2 {
  font-size: 25px;
}
.right {
  padding: 25px;
}
.right i {
  top: -52px;
  transform: rotate(90deg);
  left: 46%;
}
    .right button {
	width: 150px;
	padding: 12px 0;
}
    
}



/* **************** */

.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px ;
    min-height: 100vh;
    padding: 20px;
    background-color: #fff;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%) ;
    z-index: 10;
    transition: 1s ease-in-out ;
}
.active{
    right:0;
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 2rem;
}


.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    /* border-bottom: 1px solid black; */
}
.cart-img{
    width: 50px;
    height: 50px;
    object-fit: center;
    margin-bottom: 1.5rem;
}

.detail-box{
    display: grid;
    row-gap: 0.5rem;
}
.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}
.cart-price{
    font-weight: 500;
}

.cart-quantity{
    /* border: 2px solid var(--color); */
    outline-color: var(--color);
    width: 2.5rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove{
    font-size: 24px ;
    color: red;
    cursor: pointer;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}

.total-price{
    margin-left: 0.5rem;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: #214ED3;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover{
    background-color: #214EF3;
}



#close-cart{
    position: absolute;
    top:1rem;
    right: 1rem ;
    font-size: 2rem;
    cursor: pointer;
}

.total-title{
    font-size: 1rem;
    font-weight: 400;
}
.total-price{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

